<h1>Listing todo_lists</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Author</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @todo_lists.each do |todo_list| %>
  <tr>
    <td><%= todo_list.name %></td>
    <td><%= todo_list.author %></td>
    <td><%= link_to 'Show', todo_list %></td>
    <td><%= link_to 'Edit', edit_todo_list_path(todo_list) %></td>
    <td><%= link_to 'Destroy', todo_list, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Todo list', new_todo_list_path %>
